:root {
    --list-item-height: 40px;
    --list-item-padding: 8px;
}

main {
    padding: 20px;
}

.panel {
    background-color: white;
    border: 1px solid black;
    padding: 10px;
}

.padded-button {
    padding: 4px 8px;
}

#app-container {
    max-width: 350px;
    margin: auto;
}

/*
    REGION: Add item form
*/

#add-form-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

#add-form {
    display:flex;
    flex-flow: column nowrap;
    row-gap: 2px;
}

#add-form input {
    margin-bottom: 8px;
}

#add-form label {
    display: contents;
}

#add-form > *:last-child {
    align-self: flex-end;
}

#add-form input {
    width: 175px;
    padding: 4px;
}

/*
    REGION: List
*/

#list {
    clear: both;
    margin-top: 20px;
    min-height: var(--list-item-height);
}

#list li {
    height: var(--list-item-height);
    padding: 8px;
}

#list li span {
    cursor: pointer;
}

.check-mark-container {
    display: inline-block;
    width: calc(var(--list-item-height) - 2*var(--list-item-padding));
    height: 100%;
    border: 1px solid rgb(95, 95, 95);
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
}

.check-mark {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    visibility: hidden;
}

.bought {
    text-decoration: line-through;
}

.bought .check-mark {
    visibility: visible;
}

/*
    REGION: List
*/

#clear-button {
    margin: 20px auto;
}
